* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Navbar*/
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0,0.5);
    position: sticky;
    top: 0;
}

    .navbar ul {
        display: flex;
        list-style: none;
        margin: 20px 0px;
    }

.navber ul li {
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}

    .navbar ul li a:hover {
        background-color: white;
        color: black;
        box-shadow: 0 0 10px white;
    }
/*Home section*/
#home {
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}

    #home::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        background: url('Myself.jpg') no-repeat center;
        height: 900px;
        width: 100%;
        z-index: -1;
        opacity: .8;
    }

.main {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    align-items: center;
    position: absolute;
    top: 30%;
}

.headings {
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px;
    width: 100%;
    height: 10%;
}

.btn {
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;
}

    .btn:hover {
        cursor: pointer;
        background-color: white;
        color: black;
        box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
        font-weight: bold;
    }
/*About section*/
#about {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    width: 100%;
    height: 100vh;
}

#pic {
    display: flex;
    height: 90%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.div-img {
    width: 30%;
    height: 100%
}

.img {
    width: 100%;
    height: 100%;
}

#intro {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
    height: 100%;
    width: 70%;
}

    #intro h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

/*Portfolio section*/
#portfolio {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0,0.9);
    color: white;
    align-items: center;
    padding: 20px;
    overflow-x: auto;
}
/*.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    width:400px;
    height:400px;
}*


/*width: 360px;
height: 240px;
margin:10px;*/

.gallery {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.gallery .img1 {
    grid-column: 1 / 2;
    width: 100%;
    height: 80%;
}
.gallery .img2 {
    grid-column: 2 / 3;
    width: 100%;
    height: 80%;
}
.gallery .img3 {
    grid-column: 3 / 4;
    width: 100%;
    height: 80%;
}
.gallery .img4 {
    grid-column: 4 / 5;
    width: 100%;
    height: 80%;
}
/*Service section*/
#services {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(0, 0, 0,0.5);
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.box {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgba(0, 0, 0,0.5) 100%);
    background-size: 100% 200%;
    transition: all .8s;
    background-position: left;
    color: white;
}

    .box:hover {
        background-position: left bottom;
        color: white;
        border: none;
        box-shadow: 0 0 20px #EA4335;
    }
/*Contact section*/
/*#contact {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(0, 0, 0 ,0.5);
    color: white;
    height:100%
}*/
.icons {
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .icons .icon-item {
        padding: 10px;
    }

        .icons .icon-item .facebook {
            color: #4267B2;
        }

        .icons .icon-item .linkedin {
            color: #0072b1;
        }

        .icons .icon-item .whatsapp {
            color: #25D366;
        }

        .icons .icon-item .email {
            color: #EA4335;
        }

.copy-right {
    position: absolute;
    right: 5px;
    bottom: 0.5%;
    color: white;
}

body {
}
